@{
    ViewBag.Title = "FAQ";
}
<h2>Frequently Asked Questions</h2>
@*<h3>@ViewBag.Message</h3>*@
<hr />
<hr />
<p> <strong>Why can I no longer see Edit/Approval buttons next to requests or other items (Extensions, Assignments, Progress Reviews)?</strong></p>
<p>
    This is probably because the Edit or Approval function in question is a prerequisite to another function.
    Once the function has been completed, the prerequisite function (Edit/Approve in question) can no longer be accessed.
    Hence the lack of button for the function.
</p>
<hr />
<p>
    <strong>
        How long does a Progress Review take to be completed and or what is the hierarchy of a Progress Review completion?
    </strong>
</p>
<p>
    The Progress Review must be completed between 3 to 7 days, depending on the traffic of reviews and requests.
    Its hierarchy is as follows:
    Progress Review Creation -> Assessment -> Approval -> Evaluation
</p>
<hr />
<p>
    <strong>
        How long does an Extension Request take to be completed?
    </strong>
</p>
<p>
    Extension requests have the most dynamic timeline as there are several factors taken into account for the approval of an Extension.
    Typically, these requests take between 5 to 12 days.
</p>
<hr />
<p>
    <strong>
        Can a Probationary Colleague be a Line Manager or Department Head or an HR Associate at the same time?
    </strong>
</p>
<p>
    Indeed, several probationary colleagues play more than one role and can be an admin level user and primary level user at the same time.
    This is because Careem is still a small business which means several employees’ authorities do overlap.
    The Probation Management System accepts users with multiple roles and is very compatible for such environments.
</p>

