@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Probation Management System</h1>
    <img src="~/Content/Careem/CAREEM_LOGO_GREEN_EN.png" height="450" width="300" class="img-responsive left" /> 

    <img src="~/Content/Careem/logo1.png" height="300" width="300" class="img-responsive center-block" />

</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Careem/unnamed.png" height="150" width="150" @*class="img-responsive pull-left"*@ />
        <p><a class="btn btn-success  " href="https://www.careem.com/en-ae/">Careem Website &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Careem/enterprise_grid_logo.png" height="150" width="150" @*class="img-responsive pull-left "*@ />
        <p><a class="btn btn-success @*btn-group-justified*@" href="https://careemteam.slack.com"> Visit Slack &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Careem/jNU0AWUA_400x400.jpg" height="150" width="150" @*class="img-responsive pull-right"*@ />
        <p><a class="btn btn-success @*btn-group-justified*@ " href="https://careem.okta-emea.com/"> Access All Apps &raquo;</a></p>
    </div>
</div>