body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

fieldset.fieldset-border {
    border: 1px solid #e5e5e5;
    padding: 0 1em 1em 1em;
    margin: 0 0 1.5em 0;
}

legend.fieldset-border {
    width: inherit;
    padding: 5px 10px;
    border-bottom: none;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 20px;
    font-weight: bolder;
}

.navbar-inverse {
    background-color: #28BB4E;
    border-color: #28BB4E;
}

jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color:  white;
    background-color: #ffffff;
}

body {
    font-size: 18px;
    line-height: 1.428571429;
    color: #000000;
    background-color: #ffffff;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #28BB4E;
}


.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #28BB4E;
    border: 1px solid #28BB4E;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #28BB4E;
    border-color: #28BB4E;
}

.badge {
    display: inline-block;
    min-width: 27px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    line-height: 4;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #201f1f;
    border-radius: 10px;
}

dt, dd {
    line-height: 2;
}

.dl-horizontal dt {
    float: left;
    width: 200px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 220px;
}

.btn-right-space {
    margin-right: 5px;
}

@font-face {
    font-family: 'Careem';
    src: url(Careem/Careem-Regular-4.otf) ;
}

.classname {
    font-family: Careem;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Careem;
}


.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bold;
}
/*.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}*/

.badge {
    font-size: 14px;
    color: #28bb4e;
    background-color: #ffffff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #28bb4e;
    border-color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #28bb4e;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: forestgreen;
}

.dropdown-menu {
    background-color: #28bb4e;
}

.dropdown-menu > li > a {
        color: #fff;
}

.h1{
    font-size : large
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fffdfd;
}

/*.imgBackground {
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url('Careem/CAREEM_LOGO_GREEN_WINK.png') no-repeat scroll;
    /*margin: -8px;
    background-size: 100% 100%;
}*/

body {
    background-image: url('Careem/better 1.png');
    margin: 0;
    background-position: bottom center ;
    background-repeat: no-repeat;
}

.navbar {
    min-height: 65px;
}

.navbar-brand {
    padding: 0 15px;
    height: 65px;
    line-height: 65px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 15.5px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 19px;
        padding-bottom: 19px;
        line-height: 19px;
    }
}

    .btn-sm, .btn-group-sm > .btn {
        font-size: 15px;
    }

btn {
    font-size: 18px;
}